
.header {
    background-color: #F3F8FE ;
    box-shadow: 0 5px 5px #EFF1EF ;
}
.cent{ text-align: center}
h1{
    color:#2F343A ;
    font-family: "robot o" ;
    font-size: 60px ;
}
.sec-value{
    font-weight: bold ;
    color : black ;
}
.tablee {
      border : 2px solid #5BD075 ;
    border-radius: 3px ;
  border-left : 15px solid #5BD075 ;
    font-size: 15px ;
    font-weight: bold ;
    text-align: center;
}
.no-marg-pad {
    margin: 0 ;
    padding : 0 ;
}
.measures {
  color : #D05859 ;
}
.market-word {
    font-weight: bold ;
}

.day {
    color : #DEE3E9 ;
    font-size: 80px ;
    font-weight: bold ;
    font-family: "robot o" ;
    position: relative;
    z-index: 1;
}
.date {
    color : #6D7077 ;
    font-size: 30px ;
    font-family: "robot o" ;
    text-align: center ;
    position: absolute ;
    right: 5px;
    bottom: 0px;
    z-index: 2;
}

h2{
    color :#60CE7A ;
}
.left-measures-border-bottom {
    border-bottom: 1px solid #E5E5E5;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.right-measures-border-bottom {
    border-bottom: 1px solid #E5E5E5;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.divider-line{
    border-left: 4px solid #5BD075;
}
.info {
    font-size: 20px ;
    padding-top: 3px ;
}
.chart-img {
    border : 2px solid #E5E5E5 ;
    border-radius: 4px ;
     box-shadow: 0 5px 5px #EFF1EF ;
}
.market-number {
    font-size: 40px;
}
.values {
    font-size: 1em;
}
.perform-background {
    background-color: #FDD463 ;
    border-radius: 4px ;
}
.bold-font {font-weight: bold ;}
.PERFORMANCE {
    color : white ;
    font-size: 20px ;
    font-weight: bold ;
}

.performance-border-bottom{
    border-bottom: 1px solid white ;
    margin-left: 5px ;
    margin-right :5px ;
}
.ytd , .mtd  {
    border : 5px solid white ;
    width: 85px;
   height: 85px;
   border-radius: 50% ;
    text-align: center ;
    color :#081101 ;
   
}
.turn {
    background-color: #A2C900 ;
    border-radius: 4px ;
    
}
.turn-over-word {
    color :white ;
}
.turn-border-bottom{
     border-bottom: 1px solid white ;
    margin-right: 2px ;
}
.rank-number{
    color: #081101 ;
    text-align: center ;
    font-weight: bold ;
    font-size: 1.5em ;
    
}
.today {
     color :white ;
    text-align: right;

}
.our-view {
    font-size : 2em ;
    color : #081101 ;
}
.our-view-border {
    border-bottom : 1px solid #C7C7C7 ;
    margin-top: 26px;
    margin-left: -45px;
}
.market-image-border{
    border: 2px solid #DDDDDD ;
    border-radius: 3px;
}
.market-depth {
    font-size: 1.5em;
}

.list{
    margin-top: 3em;
    margin-left: 7em;
}
 li{
     display: inline;
     padding-left: 3em;
     font-weight: bold;
 }
 .peer-performance {
     border: 2px solid #DDDDDD;
     border-radius: 3px;
 }

 .mubasher-meter {
     font-size: 1.7rem;
 }
 progress {
     width: 100%;
     height: 30px;
     margin-bottom: 3px;
     appearance: none;
     border-radius: 5px;
 }
 progress::-webkit-progress-bar{
     box-shadow: 0 5px 5px -5px #333 inset;
     background-color: whiteSmoke;
     border-radius: 5px;
     box-shadow: 0 5px 5px -5px #333 inset;
 }


progress::-webkit-progress-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background-image: linear-gradient(90deg , #FB727C, #70E2FD)  ;
    background-size: 100% 100%;
    border-radius: 5px;
}

.bearish{
    color : #EE664E ;
    float: left;
    font-weight: bold;
}

.bullish {
    float: right;
    color : #6CCD80 ;
    font-weight: bold;
}
.nutral {
    text-align:center ;
    color : #00B5CD ;
    font-weight: bold;
}
 .mubasher-bottom-border {
     border-bottom: 1px solid #DDDDDD ;
     margin-top : 50px ;

 }
 .stock-data{
     font-size: 1.5rem;
 }
 .stock-number {
     background-color: #5BD075;
     color :#FEF9FF ;
     border-radius: 4px;
 }
 .size {
     font-size: 2.3rem;
     font-weight: bold;
 }
 .small-size {
     font-size: 1.5rem;
     font-weight: bold;
 }
 .stock-number-background {
     background-color: #FFFFFF;
     color: black;
     width: 7em;
     font-size: .9em;
     font-weight: bold;
 }
 /* end of sec three */
.sec-four {
    background-color: #F7FAFF;
}
.index-background {
    background-color: #FCFDFF;
    border-radius: 4px;
    z-index: 2;
    position: relative;
    opacity: .7;

}
.index-backgroundy {
    background-color: #FCFDFF;
    z-index: 6;
    position: relative;
    opacity: .7;
}
.table-border-bottom {
    border-bottom: 2px solid #dddddd;
    margin-right: 5px;
}
.bull-image {
    z-index: 1;
    position: relative;
    left : 100px ;
    top: 20px;
}
.bear-image{
    z-index: 3;
    position: relative;
    left: -60px;
    top: 30px;
}
th, td {
    text-align: center;
    padding: 20px 25px;
    font-size: .9rem;
}

td
{
    color:black ;
}

.table-header
{
    background: #5BD075;
    color : white ;
    font-weight: bold ;
}

.color-row
{
    background: #EAEEF7;
   
}

.special-value
{
    font-weight: bolder;
}

.investor-types
{
    font-size: 2rem;
    font-weight: bolder;
}

.border-By
{
    border-top: 1px solid #E5E5E5;
    margin-left: -63px;
}


.buyers-col
{
    border:1px solid #E5E5E5;
}

.investor-green-border
{
    border:1px solid #5BD075;
    background: #5BD075;
    color: white;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-top: -15px;
}
.by-type{
    font-size: 1.7rem;
    font-weight: bold;
}
.by-nationality{
    font-size: 1.7rem;
    font-weight: bold;
}
.by-type-border {
    border-top : 2px solid #dddddd;
    margin-top :25px ;
    margin-left: -70px;
    margin-right: 50px;
}
.by-national-border{
    border-top : 2px solid #dddddd;
    margin-top :25px ;
    margin-left: -45px;
    margin-right: 10px;
}

.percentage-left {
 color :#50DB78 ;
    font-size : 2rem ;
    font-weight: bold;
}
.percentage-right {
    color :#F76A70 ;
    font-size : 2rem ;
    font-weight: bold;
}
.buyers {
    background-color: #5BD075;
    color : white;
    font-size: 1.3rem;
    text-align: center;

}
.seller{
    background-color: #F86E6C;
    color : white;
    font-size: 1.3rem ;
    text-align: center;
}
.circle{
    background-color: #50DB78 ;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border :5px solid #E2FFEA ;
    color: white;
    text-align: center;
    font-size: .7em;
}
.circle-seller{
    background-color: #F86E6C;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border :5px solid #FFCAC9 ;
    color: white;
    text-align: center;
    font-size: .7em;
}
.circle-egy{
    background-color: #F86E6C;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: .7em;
}

.under-circle {
    color: #51524D;
    margin-left: 100px ;
}
.under-circle-border{
    border-bottom: 1px solid #DDDDDD ;
    color : #51524D
}
.individual-border{
    border: 2px solid #DDDDDD ;
}
.net{
    margin-top: -25px;
    margin-left: 60px;
}
.nett{
    margin-top: -25px;
    margin-left: 20px;
    font-size: .7rem;
}
 @media screen and (min-width : 290px) {
     h1 {
         font-size: 1.7em;
     }
     h2 {
         font-size: 1.4em;
     }
     .market-number {
         font-size: 1.4em;
     }
     .date {
         font-size: 1.2em;
     }
     .values {
         font-size: .8em;
     }
     .ytd , .mtd  {
         width: 80px;
         height: 80px;
         border-radius: 50% ;
         font-size: .8em;
     }
     .our-view-border {
         margin-top: 18px;
         margin-left: -15px;
     }

     .divider-line {
         border-left: 2px solid #5BD075;
     }

     .day {
         color: #DEE3E9;
         font-size: 30px;
         font-weight: bold;
         font-family: "robot o";
         position: absolute;
         right: 5px;
         bottom : 0px ;
     }

     .sec-value {
         font-size: 1em;
         font-weight: bold;
         color: black;
     }

     .performance-border-bottom {
         border-bottom: 1px solid white;
         margin-left: 15px;
         margin-right: 20px;
     }
     .our-view {
         font-size : .8em ;
     }

     .measures {
         font-size: .6em;
     }

     .rank-number {
         font-size: 1.2em;
     }

     .turn-border-bottom {
         border-bottom: 1px solid white;
         margin-left: 2px;
         margin-right: 8px;
     }
     .size {
         font-size: 2.1rem ;
     }
     .small-size {
         font-size: 1.3rem;

     }

     .turn-over-word {
         color: white;
         font-weight: bold;
         font-size: .6em;
     }
     .info {
         font-size: 1em;
         padding-top: 3px;

     }
     .PERFORMANCE {
         font-size: 1.1rem ;

     }
     .list{
         margin-top: 3em;
         margin-left: 0;
     }
     .percentage-left {
         color :#50DB78 ;
         font-size : 1rem ;
         font-weight: bold;
     }
     .percentage-right {
         color :#F76A70 ;
         font-size : 1rem ;
         font-weight: bold;
     }
     .by-type-border {
         border-top : 2px solid #dddddd;
         margin-top :25px ;
         margin-left: -30px;
         margin-right: 50px;
     }
     .by-national-border{
         border-top : 2px solid #dddddd;
         margin-top :20px ;
         margin-left: -45px;
         margin-right: 45px;
     }
     .by-type {
         font-size: 1.5rem;
     }
     .by-nationality{
         font-size: 1.3rem;
     }
     .stock-number-background {
         font-size: .6em;
     }
     .bull-image {
         z-index: 1;
         position: relative;
         left : 50px ;
         top: 0px;
     }
     .bear-image{
         z-index: 3;
         position: relative;

     }
     .fit-img{
         margin-top: 3rem ;
         margin-bottom: 4.5rem;
         width:250px;
         height: 300px;
        
     }
     .under-circle-border{
         margin-right: 120px;
     }


 }
 @media screen and (min-width : 990px) {
     h1 {
         font-size: 60px;
     }
     h2 {
         font-size: 2.5em;
     }
     .market-number {
         font-size: 2.5em;
     }
     .date {
         font-size: 1.8em;
     }
     .values {
         font-size: 1em;
     }
     .fit-img{
         margin-bottom: 0rem;
         width: 400px;
         height: 417px;
     }
     .divider-line {
         border-left: 0px;
     }
     .ytd , .mtd  {
         width: 85px;
         height: 85px;
         border-radius: 50% ;
         font-size: 1em;
     }
     .our-view {
         font-size : 2em ;
     }


     .day {
         color: #DEE3E9;
         font-size: 80px;
         font-weight: bold;
         font-family: "robot o";
         position: relative;
         right: 100px;
     }

     .sec-value {
         font-weight: bold;
         color: black;
     }

     .performance-border-bottom {
         border-bottom: 1px solid white;
         margin-left: 5px;
         margin-right: 5px;
     }

     .turn-border-bottom {
         border-bottom: 1px solid white;
         margin-left: 5px;
         margin-right: 10px;
     }


     .measures {
         font-size: .9em;
     }

     .rank-number {
         font-size: 2em;
     }

     .turn-over-word {
         color: white;
         font-size: 1.1em;
     }
     .info {
         font-size: 1.2em ;
     }
     .PERFORMANCE {
         font-size: 1.1em ;

     }
     .list{
         margin-top: 3em;
         margin-left: 7em;
     }
     .size {
         font-size: 2.3rem ;
     }
     .small-size {
         font-size: 1.3rem;

     }
     .percentage-left {
         color :#50DB78 ;
         font-size : 2rem ;
         font-weight: bold;
     }
     .percentage-right {
         color :#F76A70 ;
         font-size : 2rem ;
         font-weight: bold;
     }
     .by-type-border {
         border-top : 2px solid #dddddd;
         margin-top :25px ;
         margin-left: -70px;
         margin-right: 50px;
     }
     .by-national-border{
         border-top : 2px solid #dddddd;
         margin-top :25px ;
         margin-left: -45px;
         margin-right: 10px;
     }
     .by-type{
         font-size: 1.7rem;
         font-weight: bold;
     }
     .by-nationality{
         font-size: 1.5rem;
         font-weight: bold;
     }
     .stock-number-background {
         font-size: .9rem;
     }
     .bull-image {
         z-index: 1;
         position: relative;
         left: 70px;
         top: 20px;
     }
     .bear-image{
         z-index: 3;
         position: relative;
         left: -60px;
         top: 30px;
     }
     .under-circle-border{
         margin-right: 30px;
     }

 }
